<!DOCTYPE html>
<html>
<title>FakeThat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://wallpapercave.com/wp/wp2360220.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <!-- Logo -->
  </div>
  <div class="w3-display-right w3-padding-large m-5">
    <h1 class="w3-jumbo w3-animate-top">Fake That</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%"><br>
    <p class="w3-large w3-center"><a href="/home">Check it out</a></p>
  </div>
</div>

</body>
</html>


<script src="https://unpkg.com/@barba/core@next"></script>
